$headings-font-family: "Be Vietnam Pro", sans-serif;
$headings-margin-bottom: 0;
$headings-font-weight: 300;
$headings-line-height: 1;
$headings-color: #fff;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,900&display=swap");

body {
  background-color: #1f1f1f;
  font-size: 16pt;
  overflow-x: hidden;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 1;
  background: #1f1f1f;
  transition: opacity 1s ease-out;
  .spinner-grow {
    width: 6rem;
    height: 6rem;
  }
}

.carousel {
  position: absolute;
  z-index: -1;
  max-height: 100vh;
  overflow: hidden;
}
.carousel-item {
  transition: transform 2s ease-in-out;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2s;
}

div.landing {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 5rem;
  justify-content: center;
  align-content: center;
  z-index: 1;
  h1.title-txt,
  h1.inverted-txt {
    font-size: 12rem;
    text-align: center;
  }
  h1.inverted-txt {
    transform: scale(-1, -1);
  }
  p.subtitle {
    text-align: center;
    margin: 1rem auto;
  }

  div.imgctn {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      img {
        display: block;
        margin: auto;
        width: 100px;
        filter: opacity(0.5);
      }
    }
    a:hover {
      img {
        rotate: 25deg;
        transform: scale(1.4);
        filter: opacity(1);
        transition: rotate 2s ease-in-out, transform 2s ease-in-out, filter 3s ease-in-out;
      }
    }
    a:not(hover) {
      img {
        rotate: -25deg;
        transform: scale(1.1);
        filter: opacity(0.5);
        transition: rotate 3s ease-in-out, transform 1s ease-in-out, filter 1s ease-in-out;
      }
    }
  }
}

//home
nav {
  height: 48px;
  background: $dark;
  z-index: 15;
  color: #fff;
  .container-fluid {
    background-color: $dark;
  }
  .navbar-brand {
    font-family: $headings-font-family;
  }

  #navbarNav {
    justify-content: flex-end;
    width: 50%;
    li {
      padding: 0 4rem;
      a {
        text-shadow: none;
      }
      a:hover {
        transition: text-shadow 1s;
      }
    }
  }
}

main {
  height: calc(100vh - 48px);
}

div.home {
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100vw;
  margin: 0;
  a {
    text-decoration: none;
    background: none;
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
  h2 {
    font-family: Impact, sans-serif;
    font-size: 22rem;
    line-height: 80%;
    letter-spacing: 3rem;
    overflow-wrap: break-word;
    margin: 0 auto;
    padding: 2rem;
    background: none;
    opacity: 0.5;
  }
  .sectiona {
    background: #1f1f1f center/cover url(../assets/bands/convert/image_07.webp) no-repeat;
    height: 100%;
    padding-left: 2rem;
    width: 50%;
    h2 {
      margin-right: 4rem;
    }
  }
  .sectionb {
    background: #1f1f1f center/cover url(../assets/portraits/convert/image_01.webp) no-repeat;
    background-color: #1f1f1f;
    height: 100%;
    padding-left: 2rem;
    margin: 0;
    width: 50%;
  }
}

//gallery
.grid,
.row {
  max-width: 100vw;
}
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.card-container {
  padding: 0;
  .card {
    background: none;
  }
}
